.chat {

    margin-top: 10vh;
}

.textArea {
    width: 90%;
    background-color: beige;
    border: 5px solid black;
    border-top: none;
    animation: 1s ease-out 0s 1 slideInDown;
}

.textBox {
    background-color: whitesmoke;
}

.nes-btn :hover{
    cursor: pointer;
}

.micBtn {
    width: 50%;
}

.shrubName {
    height: 60vh;
    overflow: hidden;
}



.shrubName img {
    height: 50vh;
}

.box {
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

}

.happyNotify {
    color: white;
}

.good {
    color: lime;
}

.bad {
    color: red;
}

.bodt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

@media (max-width: 1000px) {
    .row {
        margin: 0;
        margin-top: 10vh;
    }
}

@keyframes slideInDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }