.Home {
    padding-top: 10vh;
}

.notLogged {
    padding-top: 20vh;
}

.logged {
    padding-top: 20vh;
}

.shrub {
    background-image: url('../../util/characterBG.png');
    background-size: cover;
}

.shrub img {
    width: 70vh;
    translate: transform(-10vw, 0vh);
}

.shrub p {
    color: white;
}

.nes-list {
    display: grid;
    align-items: center;
    height: 100%;
    font-size: 20px;
    margin-left: -2rem;
}

.nes-list li {
    margin-bottom: 8vh;
}

.menu {
    height: auto;
    background-color: burlywood;
}

.status {
    background-color: burlywood;
}

.chat {
    background-color: burlywood;

}

@media (max-width: 1000px) {


    * {
        overflow-x: hidden;
    }

    .chat {
        width: 100vw;
    }

    .status {
        width: 100vw;
    }

    .shrub {
        width: 100vw;
    }

    .menu {
        text-align: center;
        width: 100vw;
    }
}