.boggleDiv {
    padding-top: 10vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #FFCC8F;
    height: 100vh;
}

.title {

    text-align: center;
}

.centerBoggle {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.boggle {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;


}

.centerBoggleButtons {
    display: flex;
    justify-content: center;
    width: 100vw;

}

.boggleButton {
    width: fit-content;
    margin: 5vh;
    background-color: #FFDAAF;

}

.boggleOther {
    display: grid;
    align-items: center;
    justify-content: center;
    width: fit-content;


}

.otherAnswer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

.boggleAnswer {
    padding: 5px;
    width: fit-content;
    text-align: center;
    /* border: 2px black solid; */
}

.not {
    color: red;
}