@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Press+Start+2P&display=swap');

nav {
    position: fixed;
    width: 100%;
    padding: 20px;
    border-bottom: 3px solid #ccc;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-image: url('../../util/Letitia\ \(blue\ and\ yellow\)\ \(small\).jpg');
}

.nes-btn {
    width: auto;
    margin: 1rem;
}