.home {
    height: 80%;
    padding-top: 12vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.row {
    display: flex;
}

.character {
    width: 500px;
}

.nes-list {
    display: grid;
    align-items: center;
    height: 100%;
}

.nes-container {
    height: 100%;
}

.nes-list li {
    margin-bottom: 3vh;
}