.GameSelect {
    position: relative;
    overflow-y: hidden;
}

.clothes {
    width: 70vw;
    height: inherit;

    overflow-y: hidden;
}

.top img {
    width: 35%;
}


.top {
    background-image: url('../../util/characterBG.png');

}

.myShrubPic {


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.description {
    font-size: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

@media (max-width: 1000px) {}