@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Press+Start+2P&display=swap');

.signup {
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    width: 100%;
    height: 80vh;
    background-color: beige;
    top:10vh;
}

.nes-input {
    margin: 3%;;
}

.fromSignup {
    margin:2%;
}