@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Press+Start+2P&display=swap');

.backgroundDiv {
    overflow-y: hidden;
    position: fixed;
    width:100%;
    height:100%;
    top:10%;
    left:0px;
    filter: brightness(90%);
}

.signup {
    margin-left: 10%;
    padding-top: 2vh;
    width: 80%;
    height: 40%;
    background-color: beige;
    animation: 1s ease-out 0s 1 slideInLeft;
    border: 5px solid black;
    border-top: none;
}

.signupTitle {
    text-align: center;
}

.formSignup {
  margin-left: 20%;
}

@keyframes slideInLeft {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }