@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Press+Start+2P&display=swap');

* {
    overflow-x: hidden;
}


body {
    overflow: overlay;
    background-color: rgba(26, 59, 26, 0.712);
}

.App {

    position: relative;
}


@media (max-width: 1000px) {
    * {
        overflow-x: hidden;
    }
}